HOURS_WINDOW=24
MIN_LIKES=100
MIN_RETWEETS=10

# X_USERNAME=BSCghostface
# X_EMAIL=botcryptoscraper@gmail.com
# X_PASSWORD=@123AaBb
# X_COOKIES_PATH=cookies.json

TG_API_ID=
TG_API_HASH=
TG_PHONE=+5511999999999

