HOURS_WINDOW=24

TG_API_ID='your-api-id'
TG_API_HASH='your-api-hash'
TG_PHONE=+5511999999999

# MIN_LIKES=100
# MIN_RETWEETS=10
# X_USERNAME=BSCghostface
# X_EMAIL=botcryptoscraper@gmail.com
# X_PASSWORD=@123AaBb
# X_COOKIES_PATH=cookies.json
